{% extends 'layout/base.html' %}
{% block content %}
<div class="contaier">
    <img src="{{ movie_info['Poster'] }}" alt="#">
    <h1>{{ movie_info['Title'] }}</h1>
    <div class="row">
        <div class="col-6">
            <li>Year of release: {{ movie_info['Year'] }}</li>
        </div>
        <div class="col-6">
            <li>Rated: {{ movie_info['Rated'] }}</li>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <li>Runtime: {{ movie_info['Runtime'] }}</li>
        </div>
        <div class="col-6">
            <li>Genre: {{ movie_info['Genre'] }}</li>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <li>Director(s): {{ movie_info['Director'] }}</li>
        </div>
        <div class="col-6">
            <li>Writer(s): {{ movie_info['Writer'] }}</li>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <li>{{ movie_info['Plot'] }}</li>
        </div>
    </div>
</div>
{% endblock %}