{% extends 'layout/base.html' %}
{% block content %}
<div class="contaier">
    <img class="movie-info-poster" src="{{ movie_info['Poster'] }}" alt="#">
    <h1>{{ movie_info['Title'] }}</h1>
    <div class="row">
        <div class="col-6">
            <li class="list-display"><span class="bold">Year of release:</span> {{ movie_info['Year'] }}</li>
        </div>
        <div class="col-6">
            <li class="list-display"><span class="bold">Rated:</span> {{ movie_info['Rated'] }}</li>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <li class="list-display"><span class="bold">Runtime:</span> {{ movie_info['Runtime'] }}</li>
        </div>
        <div class="col-6">
            <li class="list-display"><span class="bold">Genre:</span> {{ movie_info['Genre'] }}</li>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <li class="list-display"><span class="bold">Director(s):</span> {{ movie_info['Director'] }}</li>
        </div>
        <div class="col-6">
            <li class="list-display"><span class="bold">Writer(s):</span> {{ movie_info['Writer'] }}</li>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <li class="list-display"><span class="bold">{{ movie_info['Plot'] }}</span></li>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form action="{{ url_for('add_review', imdb_id=movie_info['imdbID']) }}">
                <button class="review-button btn btn-primary" type="submit">Review</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}