@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
    background-color: #fafafa;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.navbar {
    font-weight: 700;
    margin-bottom: 5rem;
}

.result-poster {
    min-width: 150px;
}

.result-text {
    display: block;
    font-weight: bold;
}

.movie-info-poster {
    vertical-align: middle;
    border-style: none;
    margin-bottom: 2rem;
}

.list-display {
    list-style-type: none;
    margin-top: 3rem;
}

.review-button {
    margin-top: 3rem;
    margin-bottom: 5rem;
    background-color: #000000;
    color: #fafafa;
}

.info-text {
    font-weight: bold;
}


