@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
    background-color: #212121;
    text-align: center;
    color: #fafafa;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #aaaaaa;
    text-decoration: none;
    background-color: #00000000;
}

.index-text {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 30px;
    margin-left: 10%;
    margin-right: 10%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.navbar {
    font-weight: 700;
    margin-bottom: 5rem;
}

.result-poster {
    min-width: 150px;
}

.result-text {
    display: block;
}

.movie-info-poster {
    vertical-align: middle;
    border-style: none;
    margin-bottom: 2rem;
}

.list-display {
    list-style-type: none;
    margin-top: 3rem;
}

.review-form {
    display: block;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.button-spacing {
    margin: 20px;
}

.bold {
    font-weight: bold;
}



